body {
  background-color: rgb(54, 58, 58);
  color: aqua;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;

}
p {
  margin-bottom: 50px;
}

.App-link {
  font-weight: 400;
  font-size: 35px;
  text-decoration: none;
  color:white;
}